<footer class="footer">
  <div class="footer-content">
    <div class="footer-setion about">
      <h1 class="logo-text"><span>DH</span>
        BURGER</h1>
    </div>
    <div class="socials">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>

    <div class="footer-setion about"></div>
    <div class="footer-setion about"></div>
  </div>

  <div class="footer-bottom">
    &copy; Digital Burger | Website made by Grupo 3
  </div>
  </div>

</footer>