<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- font do menu -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">

<!-- font do cardapio -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">

    <link rel="stylesheet" text="text/css" href="css/styles.css" />
    <link rel="stylesheet" text="text/css" href="css/cardapio.css" />

    <link rel="stylesheet" href="css/menuHamburguer.css">
    <link rel="stylesheet" href="css/medias.css">

<!-- font awesome BootstrapCDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <title>Cardápio</title>
</head>
<body>
    <div id="header">
        <div class="leftSide">
            <a href="/"><img src="img/logo3.png" class="logo" alt="logo"/></a>            
        </div>
        <div class="rightSide">
            <input id="menu-hamburguer" type="checkbox">

            <label for="menu-hamburguer">
                <div class="menu">
                    <span class="hamburguer"></span>
                </div>
            </label>

            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="/cardapio">Cardápio</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reserva</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
        
            </ul>
        </div>
    </div>
    <div class="wrap">
        <div class="title">
            <h1> Cardápio </h1>
        </div>       
    </div>
    <main>        
        <% for (let burguerSingular of burguers) {%>
            <span class="cardapio">
                <span class="topCard">
                    <img src="img/1-hamburguer.png" class="hamburguerImg" alt="hamburguer"/>
                    <h2><%= burguerSingular.nome %></h2>
                    <p><%= burguerSingular.descricao %></p>
                </span>
                <span class="bottomCard">
                    <h1><%=burguerSingular.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></h1>
                    <button>Adicionar</button>
                </span>
            </span>
        <% } %>
        
    </main>
    <!-- <footer id="footer">
        <div class="footer1 footerOn">
            <hr/>
            <p>Digital Burguer</p>
        </div>
        <div>
            <img src="img/logoFooter.svg" class="logo" alt="logo"/>
        </div>
        <div class="footer1 footerOff">
          <p>Digital Burguer</p>
      </div>
        <div class="footer2">
            <hr/>
            <p>São Paulo | Brasil | 2021</p>
        </div>
        
    </footer> -->

    <footer class="footer">
        <div class="footer-content">
          <div class="footer-setion about">
            <h1 class="logo-text"><span>DH</span>
              BURGER</h1>
          </div>
          <div class="socials">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
      
          <div class="footer-setion about"></div>
          <div class="footer-setion about"></div>
        </div>
      
        <div class="footer-bottom">
          &copy; Digital Burger | Website made by Groupo 3
        </div>
        </div>
      
      </footer>



</body>
</html>