<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" text="text/css" href="css/styles.css" />
    <link rel="stylesheet" text="text/css" href="css/cardapio.css" />

    <link rel="stylesheet" href="css/menuHamburguer.css">
    <link rel="stylesheet" href="css/medias.css">

    <title>Cardápio</title>
</head>
<body>
    <div id="header">
        <div class="leftSide">
            <a href="/"><img src="img/logo3.png" class="logo" alt="logo"/></a>            
        </div>
        <div class="rightSide">
            <input id="menu-hamburguer" type="checkbox">

            <label for="menu-hamburguer">
                <div class="menu">
                    <span class="hamburguer"></span>
                </div>
            </label>

            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="/cardapio">Cardápio</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reserva</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
        
            </ul>
        </div>
    </div>
    <div class="wrap">
        <div class="title">
            <h1>Cardápio</h1>
        </div>       
    </div>
    <main>        
        <% for (let burguerSingular of burguers) {%>
            <span class="cardapio">
                <span class="topCard">
                    <img src="img/1-hamburguer.png" class="hamburguerImg" alt="hamburguer"/>
                    <h3><%= burguerSingular.nome %></h3>
                    <p><%= burguerSingular.descricao %></p>
                </span>
                <span class="bottomCard">
                    <h5><%=burguerSingular.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %></h5>
                    <button>Escolher</button>
                </span>
            </span>
        <% } %>
        
    </main>
    <footer id="footer">
        <div class="footer1 footerOn">
            <hr/>
            <p>Digital Burguer</p>
        </div>
        <div>
            <img src="img/logoFooter.svg" class="logo" alt="logo"/>
        </div>
        <div class="footer1 footerOff">
          <p>Digital Burguer</p>
      </div>
        <div class="footer2">
            <hr/>
            <p>São Paulo | Brasil | 2021</p>
        </div>
        
    </footer>

</body>
</html>