<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/menuHamburguer.css" />
    <link rel="stylesheet" href="/css/medias.css" />

    <link rel="stylesheet" href="/css/carrinho.css" />
    <link rel="stylesheet" href="/css/carrinhoVazio.css" />

    <title>Carrinho</title>
  </head>
  <body>
    <!-- importando o header da pasta partials -->
    <%- include('./partials/header') %>

    <div class="shopping-cart">
      <!-- Title -->
      <div class="title" id="footer">SEU CARRINHO ESTÁ VAZIO</div>
      <hr />

      <!-- Product #1 -->

      <div class="card-none">
        <p><i class="far fa-sad-cry"></i>
          <i class="far fa-sad-cry"></i>
          <i class="far fa-sad-cry"></i>
        </p>
        <p class="obrigado">Bateu aquela fome?</p>
        <p class="obrigado">Escolha nosso <i class="fas fa-hamburger"></i> para matar sua fome!</p>
        <div class="redirect">
          <a href="/menu">Continuar comprando</a>
        </div>
      </div>
    </div>

    <!-- importando o footer da pasta partials -->
    <%- include('./partials/footer') %>
    <script src="/javascripts/carrinho.js"></script>
  </body>
</html>
