<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %>

    <link rel="stylesheet" text="text/css" href="/css/styles.css" />
    <link rel="stylesheet" text="text/css" href="/css/contato.css" />
    <link rel="stylesheet" href="/css/menuHamburguer.css" />
    <link rel="stylesheet" href="/css/medias.css" />

    <title>contato</title>
  </head>
  <body>
    <!-- importando o header da pasta partials -->
    <%- include('./partials/header') %>
    <form id="form-login" method="POST" action="/users/login">
      <div>
        <label for="nome">
          Nome:
          <input type="text" name="nome" id="nome" />
        </label>
      </div>
      <div>
        <label for="email">
          E-mail:
          <input type="text" name="email" id="email" />
        </label>
      </div>
      <div>
        <label for="story">Mensagem:</label>

        <textarea id="mensagem" name="mensagem" rows="5" cols="46"></textarea>
      </div>
      <div class="controles">
        <button type="submit">Enviar</button>
      </div>
    </form>

    <!-- importando o footer da pasta partials -->
    <%- include('./partials/footer') %>
  </body>
</html>
