<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="/css/error404.css" />
</head>
<body>
    <div class="container-404">
        <h1>404</h1>
        <h2>Oops...</h2>
        <p>Esta página não está disponível!</p>
        <a href="#">Voltar</a>

    </div>
</body>
</html>