<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/mainFont') %> 
    <link rel="stylesheet" text="text/css" href="/css/error404.css" />
</head>
<body>
    <div class="container-404">
        <h1>404</h1>
        <h2>Oops...</h2>
        <p>Esta página não está disponível!<%=url%></p>
        <a href="/">Voltar</a>
    </div>
</body>
</html>