<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %> 
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>  

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/menuHamburguer.css">
    <link rel="stylesheet" href="/css/medias.css">



    
    <title>Home</title>
</head>
<body>
    <div id="header" class="header">
        <div class="leftSide">
          <a href="/"><img src="/img/logo3.png" class="logo" alt="logo" /></a>
        </div>
        <div class="rightSide">
          <div id="mHamburguer">
            <input id="menu-hamburguer" type="checkbox" />
      
            <label for="menu-hamburguer">
              <div class="menu">
                <span class="hamburguer"></span>
              </div>
            </label>
      
            <ul>
              <li class="nav-item">
                <a class="nav-link1" href="/menu">Menu</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link1" href="/sobre">DH burger</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link1" href="/contato">Contato</a>
              </li>
      
      
              <li class="nav-item">
                <a class="nav-link1" href="/users/login">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link1" href="/carrinho">Car</a>
              </li>
            </ul>
          </div>
      
          <div id="mNormal">
            <ul>
              <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="#sobre">burger</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="#formBx">Contato</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/carrinho">Carrinho</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      

    <main>
      <!-- carrossel -->
        <div class="contencao">
            <div id="imageBg"></div>
            <div id="imageBg2"></div>
            <div id="imageBg3"></div>
        
            <div class="anterior" onclick="anterior()">&#171;</div>
            <div class="proximo" onclick="proximo()">&#187;</div>
        </div>
        
<!-- sobre DH-->
<div class="container" id="sobre">
  <div class="left-col">
      <img src="/img/logo4.png" alt="logo" />
  </div>
  <div class="right-col">
      <div class="info">
          <h2 class="DH Burguer">DH Burguer</h2>
          <p>Nossa missão é básica: oferecer ao cliente um produto muito bem feito. Para isso, a base de tudo, nossa matéria prima é a melhor e chega na mesa fresquinha. Nosso hambúrguer tem nosso próprio sabor. Feito por quem gosta de hambúrguer para quem gosta de hambúrguer. Assim nos entendemos. Básico nas combinações de acompanhamento. Oferecemos o que realmente importa: um hambúrguer suculento e saboroso. Batatas fritas sequinhas e milkshakes deliciosos, no copão!</p>
          <p>Nosso hambúrguer tem sabor! Diferentemente de todas as hamburguerias, nosso hambúrguer vem da brasa de um grelhador ultra moderno. Selado enquanto mantém toda a sua suculência.</p>
      </div>
  </div>
</div>
<!-- //sobre DH -->

<!-- sobre DH2 -->
<div class="containerDH">
  <div class="esquerda-col">
      <div class="info">
          <h3>Unidade São Paulo</h3>
          <p>São Paulo | Capital | SP</p>
          <h3>Funcionamento:</h3>
          <p><strong>Ter-Qui:</strong> 12h-15h e 19h-23h</p>
          <p><strong>Sáb-Dom:</strong> 12h-23h</p>
      </div>
  </div>

  <div class="direita-col">
      <img src="/img/dhburguer.png" alt="dhburguer"/>
  </div>
</div>
<!-- //sobre DH2 -->


<!-- imagem de fundo -->
<div class="fundo">
  <img src="/img/fundoDh.png" alt="">
</div>
<!-- //imagem de fundo -->

        <div class="connect">
            <div class="txt">
                <p class="txt1">Conecte-se conosco em suas redes</p>
                <p class="txt2">sociais favoritas</p>
            </div>
        </div>

        <div class="container">
          <div class="formBx" id="formBx" >
              <form action="" id="contato_home">
                  <h2>Contato</h2>
                  <div class="inputBox">
                      <input type="text" name="" required>
                      <span>Nome</span>
                  </div>
                  <div class="inputBox">
                     <input type="email" name="" required>
                     <span>Email</span>
                 </div>
                 <div class="inputBox">
                     <textarea required></textarea>
                     <span>Escreva sua mensagem aqui...</span>
                 </div>
                 <div class="inputBox">
                     <input type="submit" name="" value="Enviar">
                 </div>
              </form>
          </div>


    </main>


<!-- importando o footer da pasta partials -->
<%- include('./partials/footer') %> 

    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>