<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %>
    <link rel="stylesheet" text="text/css" href="/css/styles.css" />
    <link rel="stylesheet" text="text/css" href="/css/login.css" />
    <link rel="stylesheet" href="/css/menuHamburguer.css" />
    <link rel="stylesheet" href="/css/medias.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- importando o header da pasta partials -->
    <%- include('./partials/header') %>
    <section>
      <div class="container">
        <div class="user siginBx">
          <div class="imgBx"><img src="/img/login.jpg" /></div>
          <div class="formBx">
            <form method="POST">
              <h2>Fazer login</h2>
              <input type="text" placeholder="Email" name="email" id="email" />
              <input type="password" placeholder="Password" name="password" />
              <input type="submit" value="Login" id="login" />
              <p class="signup">
                Não tem uma conta?
                <a href="/users/registro" id="cadastro" onclick="toggleForm()">
                  Cadastre-se</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>


  </body>

  <!-- <script type="text/javascript" src="/javascripts/index.js"></script> -->

  <script type="text/javascript" src="/javascripts/login.js"></script>
</html>
