<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap" rel="stylesheet">

<!-- font awesome BootstrapCDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" text="text/css" href="css/styles.css" />
    <link rel="stylesheet" text="text/css" href="css/login.css" />
    <link rel="stylesheet" href="css/menuHamburguer.css">
    <link rel="stylesheet" href="css/medias.css">

    <title>Login</title>
</head>
<body>
    <div id="header">
        <div class="leftSide">
            <a href="/"><img src="img/logo3.png" class="logo" alt="logo"/></a>            
        </div>
        <div class="rightSide">
            <!-- <ul class="menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">Cardápio</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="/contato">Contato</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#">Reserva</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
              </ul> -->

            <input id="menu-hamburguer" type="checkbox">

            <label for="menu-hamburguer">
                <div class="menu">
                    <span class="hamburguer"></span>
                </div>
            </label>

            <ul>
                <li class="nav-item">
                  <a class="nav-link" href="/menu">Menu</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/reserva">Reserva</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
        
            </ul>
        </div>
    </div>

    <div class="mkd-conainter">

    <form id="form-login" method="POST" action="/users/login">
        <div>
            <h3 class="title">Login</h3>

            <label for="email">
                Email
                <input type="text" name="email" id="email" placeholder="Digite seu email" required>
            </label>
        </div>
        <div class="controles">
            <a href="/adm/forgot">Esqueci minha senha</a>
        </div>
        <div>
            <label for="senha">
                Senha
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
            </label>
        </div>
        <div class="controles">
            <label href="/adm/forgot"><input type="checkbox"> Lembre-me</label>
        </div>
        <div class="controles">
            <button type="submit">Acessar</button>
        </div>
    </div>


    </form>

<!-- FOOTER -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-setion about">
        <h1 class="logo-text"><span>DH</span>
          BURGER</h1>
      </div>
      <div class="socials">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
  
      <div class="footer-setion about"></div>
      <div class="footer-setion about"></div>
    </div>
  
    <div class="footer-bottom">
      &copy; Digital Burger | Website made by Groupo 3
    </div>
    </div>
  
  </footer>
  
      <script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>