<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>  
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %> 


    <link rel="stylesheet" text="text/css" href="/css/styles.css" />
    <link rel="stylesheet" text="text/css" href="/css/sobre.css" />

    <link rel="stylesheet" href="/css/menuHamburguer.css">
    <link rel="stylesheet" href="/css/medias.css">


    <title>Sobre</title>
    
</head>
<body>
    
  <!-- importando o header da pasta partials -->
  <%- include('./partials/header') %> 
    <main>        

      <div class="container">
        <div class="left-col">
            <img src="/img/logo4.png" alt="logo"/>
        </div>
        <div class="right-col">
            <div class="info">
                <h2 class="DH Burguer">DH Burguer</h2>
                <p>Nossa missão é básica: oferecer ao cliente um produto muito bem feito. Para isso, a base de tudo, nossa matéria prima é a melhor e chega na mesa fresquinha. Nosso hambúrguer tem nosso próprio sabor. Feito por quem gosta de hambúrguer para quem gosta de hambúrguer. Assim nos entendemos. Básico nas combinações de acompanhamento. Oferecemos o que realmente importa: um hambúrguer suculento e saboroso. Batatas fritas sequinhas e milkshakes deliciosos, no copão!</p>
                <p>Nosso hambúrguer tem sabor! Diferentemente de todas as hamburguerias, nosso hambúrguer vem da brasa de um grelhador ultra moderno. Selado enquanto mantém toda a sua suculência.</p>
            </div>
        </div>
    </div>
    
</div> 

<!-- sobre do Fernando -->
        <!-- <span class="sobre">
            <span class="topCard TPCard">
                <h1>Sobre</h1>
                <p>Nossa missão é básica: oferecer ao cliente um produto muito bem feito. Para isso, a base de tudo, nossa matéria prima é a melhor e chega na mesa fresquinha. Nosso hambúrguer tem nosso próprio sabor. Feito por quem gosta de hambúrguer para quem gosta de hambúrguer. Assim nos entendemos. Básico nas combinações de acompanhamento. Oferecemos o que realmente importa: um hambúrguer suculento e saboroso. Batatas fritas sequinhas e milkshakes deliciosos, no copão!</p>
            </span>
            <span class="bottomCard BTCard">
                <span class="part1">
                    <h2>DH Burguer</h2>
                    <p>Nosso hambúrguer tem sabor! Diferentemente de todas as hamburguerias, nosso hambúrguer vem da brasa de um grelhador ultra moderno. Selado enquanto mantém toda a sua suculência.</p>
                </span>
                <span class="part2">
                    <img src="img/1-hamburguer.png" alt="hamburguer"/>
                </span>
            </span>
        </span> -->
<!--//sobre do Fernando -->

    </main>
    

    <!-- importando o footer da pasta partials -->
    <%- include('./partials/footer') %> 



</body>
</html>