body {
	font-family: sans-serif;
}

#form-login {
	box-shadow: 1px 1px 5p;
	width: 480px;
	margin: 5vh auto 0 auto;
	background-color: #f7f4e7;
	color:rgb(141, 137, 137);
	padding: 40px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.title {
	margin-bottom: 9px;
	color:rgb(20, 18, 18);

}


#form-login label {
	display: block;
	margin-bottom: 9px;
	position: relative;
}

#form-login label input {
	display: block;
	padding: 10px;
	border: none;
	margin-top: 0;
	font-size: 1rem;
	height: 35px;
	border-radius: 5px;
	outline: 0;
	width: 100%;
}

#form-login label img{
	width: 100%;
	margin-top: 10px;
	display: block;
	cursor: pointer;

}

#form-login label input[type="file"]{
	display: none;
}

#form-login label div{
	width: 100%;
	display: block;
	font-size: 1.rem;
	background-color: rgba(0, 0, 0,0.5);
	color: white;
	border: none;
	padding: 10px 20px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	text-align: center;
}

#form-login .controles{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#form-login .controles a{
	font-size: 0.8rem;
}

#form-login .controles button{
	display: block;
	font-size: 1rem;
	background-image: linear-gradient(to right, rgb(255, 165, 0),rgb(255, 118, 6));
	color: rgb(255, 255, 255);
	border: none;
	outline: 0;
	padding: 10px 20px;
	width: 100%;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 30px;
	text-transform: uppercase;
}

#form-login .controles button:hover{
	opacity: 1;
}

.alert-error{
	background-color: rgba(100,0,0,0.5);
	color: #FFF;
	width: 480px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
}
