.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* banner menu */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  font-size: 60px;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* banner menu */
.image { 
  position: relative; 
  width: 100%;
}

h2 { 
position: absolute; 
top: 40px; 
left: 40%; 
width: 100%; 
opacity: 0.9;
text-transform: uppercase;
color: white; 
letter-spacing: 5px;  
outline: black;
font-family: "Poppins", sans-serif;
-webkit-text-stroke: 2px black;
-webkit-text-fill-color: #fff;
font-size: 9rem;
}
/*//banner menu */

.cardapio {
  width: 250px;
  height: 400px;
  box-shadow: -3px 1px 13px -2px rgba(0, 0, 0, 0.73);
  border-radius: 5px;
  border-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.topCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topCard h3 {
  padding-top: 10px;
}

.topCard p {
  padding-top: 10px;
  text-align: center;
}

.bottomCard {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 10px;
}

.bottomCard button {
  margin-top: 30px;
  display: block;
  font-size: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 165, 0),
    rgb(255, 118, 6)
  );
  color: black;
  border: none;
  padding: 10px 20px;
  width: 50%;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 3px;
  /* text-transform: uppercase; */
}

.bottomCard button:hover {
  opacity: 1;
}



