.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgb(255, 165, 0),
    rgb(255, 118, 6)
  );
  color: black;
  outline: black;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  width: 100%;
  height: 250px;
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 50px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardapio {
  width: 250px;
  height: 400px;

  box-shadow: -3px 1px 13px -2px rgba(0, 0, 0, 0.73);
  border-radius: 5px;
  border-bottom: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.topCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topCard h3 {
  padding-top: 10px;
}

.topCard p {
  padding-top: 10px;
  text-align: center;
}

.bottomCard {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 10px;
}

.bottomCard button {
  margin-top: 30px;
  display: block;
  font-size: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 165, 0),
    rgb(255, 118, 6)
  );
  color: black;
  border: none;
  padding: 10px 20px;
  width: 50%;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 3px;
  /* text-transform: uppercase; */
}

.bottomCard button:hover {
  opacity: 1;
}

/*  */

/* div {
    background-color: orangered;
    width: 100vw;
    height: 30vh;
    background-size: 50%, 25%, 25%;
    display: inline-block;
    justify-content: center;
    /* position: relative; 
    position: fixed;
} */

.fundo-texto {
  display: flex;
}

.fundo-img {
  width: 25%;
  height: 25%;
  display: flex;
  position: absolute;
  right: 10%;
  rotate: 10;
  opacity: 60%;
  transform: rotate(5deg);
}
