


.menu {
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    background: #2d2d2d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff ;
    transition: box-shadow 1s ease-in-out;
    transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    z-index: 9999;
}

.menu:hover {
    box-shadow: 0 0 0 8px #F5C700, 0 0 0 8px #F5C700 ;
}

.hamburguer {
    position: relative;
    display: block;
    background: #F5C700;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
    
}

.hamburguer:before,
.hamburguer:after {
    background: #F5C700;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
    
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ ul {
    opacity: 1;

}



input:checked ~ ul a {
    pointer-events: all;
    cursor: pointer;

}

input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #F5C700, 0 0 0 160vh #F5C700 ;

}

input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    transition: .25s 1s ease-in-out;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    text-transform: uppercase;
    z-index: 9999;
   
    
    
}

.nav-link {
    display: block;
    margin-top: 40px;
    color: #000;
    font-size: 27px;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    z-index: 9999;
}